img(src=`https://truenorth.co.in/images/logo.png` alt="truenorth logo")
p Hi Administrator,
p A new person has been created for #{name} in the PST Policy Workflow system. Please #[a(href=applicationBaseUrl+'/persons/'+personId+'/edit',  target="_blank") complete the profile] definition.
p PST Policy Workflow
p Note: This is a system generated email