/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*PA Components*/
/*pa-dropdown-buttons*/
.pa-dropdown-buttons { border-radius: 4px; border-style: solid; border-width: 1px; background: #fafafd; position: relative; display: flex}
.pa-dropdown-buttons>.separator { position: absolute; right: 42px; width: 0px; border-left: 1px solid rgba(188, 188, 188, .3); margin: 0px; height: 18px; top: 50%; margin-top: -9px;}
.pa-dropdown-buttons>button:nth-child(2) { min-width: 0px }
.pa-dropdown-buttons>button:first-child { border-top-left-radius: inherit; border-bottom-left-radius: inherit; border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.pa-dropdown-buttons>button:nth-child(2) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: inherit; border-bottom-right-radius: inherit; }
.pa-dropdown-buttons>button:hover~.separator { opacity: 0}
.pa-dropdown-buttons>span:first-child { display: flex; line-height: 36px; padding: 0px 16px; font-size: 14px; }
/*'.pa-dropdown-buttons .mat-button-wrapper { display: flex; align-items: center }',*/
.pa-dropdown-buttons-menu { margin-top: 12px }
.pa-dropdown-buttons-menu .mat-menu-content { padding-left: 20px; padding-right: 20px; }
.pa-dropdown-buttons-menu button { display: flex !important; align-items: center; font-size: 12px; font-weight: 600; }
.pa-dropdown-buttons-menu button:not(:last-child) { border-bottom: 1px solid #e6e6e6 !important }
/*pa-dropdown-buttons*/


html, body { margin: 0; height: 100%; }
* { box-sizing: border-box; }
main { height: calc(100% - 64px); background: #fefefe ; overflow: auto;}

::-webkit-scrollbar { width: 3px; height: 3px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);}
::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 2px #65a2f7; box-shadow: inset 0 0 2px #65a2f7; }

circle-progress text { letter-spacing: -1px }

body [class^='mat-'], body [class*=' mat-'] { font-family: 'Nunito Sans', Roboto, "Helvetica Neue", sans-serif; } 
body .material-icons { font-family: 'Material Icons'; }
mat-sidenav-container, mat-sidenav-content, mat-sidenav { height: 100%; }
mat-sidenav { width: 250px; }
.mat-tab-label { font-size: 16px; justify-content: left !important; }
.mat-tab-label-active { color: #2d2d2d; font-weight: 600; opacity: 1 !important; }
.mat-tab-group.mat-primary .mat-ink-bar { box-shadow: 0 2px 5px 0 rgba(65, 71, 150, 0.3); background-color: rgba(0, 0, 0, 0); background-image: linear-gradient(to right, transparent 0px, transparent 24px, #5169d6 24px, #5169d6 63px, transparent 63px, transparent 100%) !important; }
.mat-tooltip { font-size: 13px !important; } 
.mat-snack-bar-container { max-width: 50vw !important; }
.mat-simple-snackbar { word-break: break-all; }
mat-tooltip-component>.mat-tooltip { white-space: pre-line; } 
app-top-nav.hide-nav { display: none }
main.hide-nav { height: 100%; }
/*text*/
.text-grey { color: #8a8a8a }
.text-black { color: #2d2d2d }
.text-green { color: #17c02b }
.text-orange { color: #ff9d04 }
.text-red { color: #f36c6e; }
.text-blue { color: #65a2f7 }
.text-normal { font-weight: 400 }
.text-bold { font-weight: 600 }
.text-10 { font-size: 10px }
.text-12 { font-size: 12px }
.text-14 { font-size: 14px }
.text-16 { font-size: 16px }
.text-18 { font-size: 18px }
.text-22 { font-size: 22px }
.text-28 { font-size: 28px }
.text-link { cursor: pointer }
.text-center { text-align: center }
/*border*/
.border-orange, .border-orange * { border-color: #ff9d04; }
.border-grey, .border-grey * { border-color: #eeeefb; }

/*flex-columns*/
.row { display: flex; align-items: center; }
.row.align-top { align-items: flex-start; }
.col:not(:last-child) { margin-right: 20px; }
.col-flex { display: flex; align-items: center; justify-content: center }
.col-exp { flex: 1 1 auto }
.col-shrink { flex: 0 1 auto }
.form-row { padding: 5px 0px; }
.block-arrow { border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid; width: 0px; display: inline-block; transition: transform 500ms ease;}
.callout { max-width: 1000px !important; box-shadow: none; margin-left: -22px }
.callout.mat-menu-before { max-width: 1000px !important; box-shadow: none; margin-right: -22px }
.callout .mat-menu-content { padding: 20px 5px !important; }
.callout .mat-menu-content>div { position: relative; padding: 20px; border-radius: 4px; box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12); }
.callout.mat-menu-below .mat-menu-content>div:before { content: ""; position: absolute; left: 20px; width: 20px; top: -10px; height: 20px; background: #fff; transform: rotate(45deg); box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, .12); }
.callout.mat-menu-above .mat-menu-content>div:before { content: ""; position: absolute; left: 20px; width: 20px; bottom: -10px; height: 20px; background: #fff; transform: rotate(45deg); box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, .2); }
.callout.mat-menu-below.mat-menu-before .mat-menu-content>div:before { content: ""; position: absolute; right: 20px; left: unset; width: 20px; top: -10px; height: 20px; background: #fff; transform: rotate(45deg); box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, .12); }
.callout.mat-menu-above.mat-menu-before .mat-menu-content>div:before { content: ""; position: absolute; right: 20px; left: unset; width: 20px; bottom: -10px; height: 20px; background: #fff; transform: rotate(45deg); box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, .2); }
.alt-shaded-table { border: solid 1px #e6e6e6; border-collapse: collapse }
.alt-shaded-table tr, .alt-shaded-table tr>* { border: solid 1px rgba(230, 230, 230, 0.5) }
.alt-shaded-table tr:nth-child(even) { background-color: rgba(230, 230, 230, 0.15) }


app-chip-list .mat-form-field-label { color: inherit !important }
pa-char-count { position: absolute; top: 100%; right: 0px; font-size: 12px; font-weight: 300; font-style: italic; color: #8a8a8a; margin-top: 2px; }
.pa-dropdown-buttons { border-radius: 18px 18px 18px 18px }
.pa-sliding-radio-rail { background: #eee; }
.pa-sliding-radio-transit-bg { background: #fff; }

.mat-form-field.mat-form-field-invalid .pa-percentage-sign { color: #f44336; }

.header { display: flex; height: 56px; align-items: center; border-bottom: solid 1px rgba(151, 151, 151, .15); }
.middle-content { height: calc(100% - 56px); overflow: auto; box-shadow: inset 0 1px 3px 0 rgba(234, 234, 234, 0.3); background-color: #fff; padding: 24px 0px; /*padding: 24px 72px; max-width: 1510px; margin: auto*/  }
.middle-content:not(:last-child) { height: calc(100% - 139px); }
.middle-content>div { max-width: 1366px; margin: auto; width: calc(100% - 96px) }
.footer { position: relative; display: flex; height: 83px; box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.12); background-color: #feffff; align-items: center; padding: 0px 72px } 
.spacer { flex: 1 1 auto }
.icon-label { display: flex; height: 100%; align-items: center; margin-left: 20px; margin-right: 20px; white-space: nowrap; }
.icon-label>*:first-child { margin-right: 10px }
.separator { width: 0px; border-left: 1px solid rgba(188, 188, 188, .3); margin: 0px 10px }
.img-button { min-width: 32px !important; padding: 0px 4px !important; margin: 0px !important; }
.img-button[disabled] { opacity: .3 ; cursor: not-allowed !important}
.img-button.unread .mat-button-wrapper:after { content: ""; position: absolute; right: 3px; top: 3px; width: 8px; height: 8px; border-radius: 5px; border: solid 1px #ffffff; background-color: #f9393c; }
.rounded-button { border-radius: 40px !important; padding: 0 40px !important; text-transform: uppercase; font-size: 13px; }
.rounded-button.primary { background-image: linear-gradient(to top, #0160a2, #444ba5); color: #fff }
.rounded-button[disabled] { background-image: none; background-color: #e5e5e5; color: #d2d2d2; font-weight: bold; }
.round-add-button { width: 24px; height: 24px; border-radius: 21.5px; box-shadow: 0 2px 7px 0 rgba(120, 174, 249, 0.48); background-image: linear-gradient(to top, #3283eb, #3b4694); position: relative; display: inline-block; color: #fff; line-height: 24px; font-size: 24px; margin-right: 10px; }
.img-button[disabled] .round-add-button { box-shadow: none; background: #eee; color: #2d2d2d; }


/*home page*/
.hm-full-page-tab { height: 100%; }
.hm-full-page-tab mat-tab { height: 100%; }
.hm-full-page-tab .mat-tab-body-wrapper { height: calc(100% - 49px); }
.hm-tab-page { height: 100%; }

/*progress dialog*/
.pd-textarea .mat-form-field-infix { border-top: none !important; padding: 0px; }
.pd-textarea textarea { resize: none; box-sizing: content-box; }

.scc-link { color: #65a2f7; font-size: 12px; line-height: 19px; display: inline-block; cursor: pointer; }
.scc-menu table div { font-size: 14px; padding: 20px }
.scc-menu table tr > *:first-child > div { width: 100px; text-align: center; }
.scc-menu table tr > *:last-child > div { width: 300px; text-align: left;}
.scc-menu table tr:nth-child(1) {background-color: rgba(230, 230, 230, 0.3) }

.rc-menu table tr>*:first-child div { width: 250px; font-size: 14px; padding: 20px }
.rc-menu table tr>*:last-child div { width: 150px; font-size: 14px; padding: 20px }
.rc-menu table tr:nth-child(1) {background-color: rgba(230, 230, 230, 0.3) }

.jac-link { line-height: 19px; display: inline-block; cursor: pointer; }
.jac-menu table div { width: 300px; font-size: 14px; padding: 20px }

.route-load-in-progress { position: fixed; z-index: 10001; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, .8); display: flex; align-items: center; justify-content: center; color: #fff; } 

/*configs*/

.tn-table-card { height: 100%; padding: 0px !important; }
.tn-table-card-content { height: calc(100% - 120px); overflow-y: auto; margin-bottom: 0px !important; border-bottom: 1px solid #f5f5f5}
.tn-table-toolbar { background: none; }
.tn-spacer { flex: 1 1 auto; }
.tn-text-filter { font-size: .75em; margin-left: 50px; position: relative; top: 5px; }
.tn-text-filter .mat-icon{ position: relative; top: 7px; }
.tn-table-card-content .mat-table { width: 100%; overflow-x: auto; overflow-y: hidden; min-width: 500px; }
.tn-table-card .mat-paginator { background: #f5f5f5; }
.tn-table-row-highlight{ background: #0000ff10; }
.tn-form-toolbar { font-size: 18px; height: 44px !important; }
.tn-form-card-content { padding-top:10px; padding-bottom: 10px; height: calc(100% - 48px); overflow: auto;}
.tn-form-card { height: calc(100% - 30px); }
.tn-form-card-content .mat-form-field { margin-bottom: 10px; margin-top: 10px; }
.tn-form-card-content .mat-checkbox { margin-bottom: 10px; margin-top: 10px; }
.tn-inner-card { margin-top:20px; margin-bottom: 20px; }
.tn-inner-card .mat-card-title { font-size: 18px;}
.tn-card-row { padding-top:5px; padding-bottom: 5px; font-size: 16px; }

.tn-full-page-card .mat-card-content { height: calc(100% - 30px)}
.tn-full-page-tab-group { height: 100%}
.tn-full-page-tab-group .mat-tab-body-wrapper { height: calc(100% - 50px)}
.tn-tab-page-table-container { height: 100%; overflow: auto }
.tn-file-dialog-header { position: sticky; top: 0; background: #fff; z-index: 1000}
.tn-file-table-header { background: #f5f5f5; font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 16px; font-weight: 500; padding: 10px; position: sticky; top: 52px; z-index: 1000}
.tn-file-table-blank { font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 14px; padding: 10px;  }
.tn-file-table-row { font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 14px; padding: 10px; border-bottom: 1px solid #f5f5f5; min-height: 60px }
.tn-page-instructions { font-size: 16px; padding: 10px; }
.tn-no-records { padding: 20px; font-size: 18px; display: flex; justify-content: center; align-items: center; }
.tn-inline-checkbox { margin-right: 20px; }
.tn-inline-checkbox-heading { margin-right: 20px; font-weight: bold; line-height: 26px;}
.tn-form-top-tool-bar { text-align: right }
.tn-form-action-bar { padding: 10px 20px; position: absolute; left: 0; bottom: 0; right: 0; background: #fff;}
.tn-form-content { height: calc(100% - 92px); overflow-y: auto}
.tn-form-main { height: 100%; padding-left: 20px; position: relative}
.tn-form-checkbox { margin-bottom: 20px; }

/*special*/
.mat-column-gsSubmitStatus .mat-sort-header-container,
.mat-column-gsGrStatus .mat-sort-header-container,
.mat-column-gsLmStatus .mat-sort-header-container,
.mat-column-gsHrStatus .mat-sort-header-container,
.mat-column-selfScored .mat-sort-header-container,
.mat-column-allReviewersScored .mat-sort-header-container,
.mat-column-lmScored .mat-sort-header-container,
.mat-column-mgmtScored .mat-sort-header-container,
.mat-column-selfScore .mat-sort-header-container,
.mat-column-avgReviewerScore .mat-sort-header-container,
.mat-column-lmScore .mat-sort-header-container,
.mat-column-mgmtScore .mat-sort-header-container {
  justify-content: center;
}
.mat-column-gsSubmitStatus .mat-sort-header-button,
.mat-column-gsGrStatus .mat-sort-header-button,
.mat-column-gsLmStatus .mat-sort-header-button,
.mat-column-gsHrStatus .mat-sort-header-button,
.mat-column-selfScored .mat-sort-header-button,
.mat-column-allReviewersScored .mat-sort-header-button,
.mat-column-lmScored .mat-sort-header-button,
.mat-column-mgmtScored .mat-sort-header-button,
.mat-column-selfScore .mat-sort-header-button,
.mat-column-avgReviewerScore .mat-sort-header-button,
.mat-column-lmScore .mat-sort-header-button,
.mat-column-mgmtScore .mat-sort-header-button {
  margin-left: 12px;
}

.blue-buttons .pa-sliding-radio-rail { background: #eee; }
.blue-buttons .pa-sliding-radio-button.active { color: #fff; }
.blue-buttons .pa-sliding-radio-transit-bg { background: #3283eb; color: #fff}
.blue-buttons .pa-sliding-radio-button-subtitle { color: #2c2c2c}

.pa-sliding-radio-button-subtitle>span:nth-child(1) {
  /*background: #666; color: #fff;*/ padding: 0px 5px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 75px; display: inline-block; text-align: center;
  border: 1px dotted #ccc;
}
.pa-sliding-radio-button-subtitle>span:nth-child(2) {
  /*background: #666; color: #fff;*/ padding: 0px 5px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute;
    right: 0px; width: 75px; display: inline-block; text-align: center; border: 1px dotted #ccc;
}
.blue-buttons .pa-sliding-radio-button.active .pa-sliding-radio-button-subtitle>span { border-color: #3283eb; }

.mat-form-field.status-list-select .mat-form-field-underline {
  background-color: currentColor;
}

.visible-mat-error .mat-form-field-subscript-wrapper { overflow: visible }

.GOAL_IND_REV_STATUS-FEEDBACK { color:#EC7456}
.GOAL_IND_REV_STATUS-SUBMITTED { color:#6D7278}
.GOAL_IND_REV_STATUS-NEW { color:#6D7278}
.GOAL_IND_REV_STATUS-APPROVED { color:#E09A29}
.GOAL_IND_STATUS-SUBMITTED { color:#6D7278}
.GOAL_IND_STATUS-APPROVED { color:#E09A29}
.GOAL_IND_STATUS-NEW { color:#6D7278}
.GOAL_IND_STATUS-FEEDBACK { color:#EC7456}
.GOAL_STATUS-FEEDBACK { color:#EC7456}
.GOAL_STATUS-NEW { color:#6D7278}
.GOAL_STATUS-SUBMITTED { color:#6D7278}
.GOAL_STATUS-APPROVED { color:#E09A29}

.GOAL_PROGRESS_STATUS-IN_PROGRESS { color:#e09a29; border-color: #e09a29}
.GOAL_PROGRESS_STATUS-DELAYED { color:#ff1b1b; border-color: #ff1b1b}
.GOAL_PROGRESS_STATUS-ACHIEVED { color:#5db373; border-color: #5db373}

@import "scss/variables";
@import "scss/angular-material";

