img(src=`https://truenorth.co.in/images/logo.png` alt="truenorth logo")
p Hi #{name},
p A user id has been created for you in the PST Policy Workflow system. Please #[a(href=applicationBaseUrl+'/persons/'+personId+'/edit',  target="_blank") complete your profile] definition.
p PST Policy Workflow
p Note: This is a system generated email
